<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<configuration >
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%d %p %t %c - %m%n</Pattern>
        </encoder>
    </appender>
    <appender>name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>log/events.log</file>
    </appender>
    <encoder>
        <Pattern>%d %p %t %c - %m%n</Pattern>
    </encoder>
    <logger name="BudgetApp"/>
    <logger name="cass.expense.repo"/>
    <root level="debug">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STOUT"/>
    </root>
</configuration>